@charset "UTF-8";



body {
  margin: 0px;
  text-align: center;
}
header {
  height: 50px;
  background-color: #ccccff;
  text-align: center;
}

#wrapper {
  height: 400px;
  background-color: red;
  text-align: center;
}

footer {
  margin: 0px;
  height: 80px;
  background-color: green;
  text-align: center;
}
  
